<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet" />
        <!-- <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" /> -->
        <title>E-learnify dashboard</title>
        <link rel="stylesheet" href="style.css">
    </head>
<body>
    <div class="navbar">
        <div class="logo">
            <span class="logo-text" id="d">/</span>
            <span class="logo-text">E-Learnify</span>
        </div>
        <div class="nav-links">
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">Courses</a>
            <a href="#" class="nav-link">About</a>
            <a href="#" class="nav-link">Contact</a>
        </div>
        <div class="auth-links">
            <a href="/login" class="auth-link">Sign in</a>
            <a href="/signup" class="auth-link">Create Free Account</a>
        </div>
    </div>
    <section>
        <p class="caption">
            Be an Einsteineth
        </p>
    </section>
</body>
</html>