<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />

    <title>Document</title>
</head>

<body>
    <div class="v14_39">
        <div class="v14_40">
            <div class="v14_41"><span class="v14_42">/E- Learnify</span></div>
            <div class="v14_43"><a class="v14_44" href="/dashboard" >Courses</a>
                <a href="/about" class="v14_45"> About</a>
               <span
                    class="v14_46">Contact</span></div>
            <div class="v14_47">
                <a href="/login" class="v14_48" id="signin-button">Sign in</a>
                <!-- <a href="/login" class="v14_48" id="signin-button">Sign in</a> -->
                <!-- <span class="v14_48">Sign in</span> -->
            </div>
            <div class="name"></div>
            <div class="v14_50"><span class="v14_51">Home</span>
                <div class="name"></div>
            </div>
        </div>
        <div class="v14_53"></div>
        <div class="v14_54"></div>
        <div class="v14_55"><span class="v14_56">Let’s help you become an Einstein in your field</span><span
                class="v14_57">No matter where you are, whether it's at home, in the classroom, or on the go, E-Learnify
                is always there to help you unlock your full potentialA</span>
            <div class="v14_58">
                <div class="name"></div>
                <div class="name"></div>
            </div>
            <div class="v14_61">
                <div class="v14_62">
                    <div class="name"></div>
                    <div class="name"></div>
                    <div class="name"></div>
                    <div class="name"></div>
                    <div class="name"></div>
                </div>
                <div class="v14_68"><span class="v14_69">2943</span><span class="v14_70">Registered User</span></div>
                <div class="v14_71"><span class="v14_72">1K+</span><span class="v14_73">User Ratings</span></div>
            </div>
        </div>
        <div class="v14_74">
            <div class="v14_75">
                <div class="v14_76"></div>
                <div class="v14_77">
                    <div class="v14_78"></div>
                    <div class="v14_79"></div>
                </div>
                <div class="v14_80">
                    <div class="v14_81"></div>
                    <div class="v14_82"></div>
                </div>
                <div class="v14_83"></div>
                <div class="v14_84">
                    <div class="v14_85"></div>
                    <div class="v14_86"></div>
                    <div class="v14_87"></div>
                </div>
                <div class="v14_88">
                    <div class="v14_89"></div>
                    <div class="v14_90"></div>
                </div>
                <div class="v14_91">
                    <div class="v14_92"></div>
                    <div class="v14_93"></div>
                </div>
                <div class="v14_94"></div>
            </div>
            <div class="v14_95">
                <div class="v14_96"></div>
                <div class="v14_97">
                    <div class="name"></div><span class="v14_99">© Copyright 2022, All Rights Reserved by
                        ClarityUI</span>
                    <div class="v14_100">
                        <div class="v14_101">
                            <div class="v14_102"></div>
                            <div class="v14_103">
                                <div class="v14_104">
                                    <div class="v14_105"></div>
                                </div>
                            </div>
                        </div>
                        <div class="v14_106">
                            <div class="v14_107"></div>
                            <div class="v14_108">
                                <div class="v14_109">
                                    <div class="v14_110"></div>
                                </div>
                            </div>
                        </div>
                        <div class="v14_111">
                            <div class="v14_112"></div>
                            <div class="v14_113">
                                <div class="v14_114">
                                    <div class="v14_115"></div>
                                    <div class="v14_116"></div>
                                    <div class="v14_117"></div>
                                </div>
                            </div>
                        </div>
                        <div class="v14_118">
                            <div class="v14_119"></div>
                            <div class="v14_120">
                                <div class="v14_121">
                                    <div class="v14_122"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="v14_123"><span class="v14_124">About

                        Features

                        Works

                        Career </span><span class="v14_125">Company</span></div>
                <div class="v14_126"><span class="v14_127">Customer Support

                        Delivery Details

                        Terms & Conditions

                        Privacy Policy</span><span class="v14_128">Help</span></div>
                <div class="v14_129"><span class="v14_130">Free eBooks

                        Development Tutorial

                        How to - Blog

                        Youtube Playlist</span><span class="v14_131">Resources</span></div>
                <div class="v14_132"><span class="v14_133">Install App</span>
                    <div class="v14_134">
                        <div class="v14_135"></div>
                        <div class="v14_136"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="v12_62">
            <div class="v9_570"></div>
            <div class="v14_147">
                <div class="v9_571"></div>
                <div class="v9_617">
                    <div class="v9_618"></div>
                    <div class="v9_619"></div><span class="v9_620">or</span>
                </div>
                <div class="v9_621">
                    <div class="v9_622"></div><span class="v9_623">Sign in with Google</span>
                    <div class="v90_80">
                        <div class="v9_624">
                            <div class="v9_625"></div>
                            <div class="v9_626"></div>
                            <div class="v9_627"></div>
                            <div class="v9_628"></div>
                        </div>
                    </div>
                </div>
                <div class="v9_629">
                    <div class="v9_630"></div><span class="v9_631">Sign in with Facebook</span>
                    <div class="v90_81">
                        <div class="v9_632">
                            <div class="v9_633"></div>
                        </div>
                    </div>
                </div><span class="v9_572">Welcome back!</span>
                <div class="v9_613">
                    <div class="v9_614"></div><span class="v9_615">Login</span>
                </div><span class="v9_616">Forget password?</span><span class="v9_634">New to E - learnify? Sign
                    up</span><span class="v85_97">Email</span><span class="v85_98">Password</span>
            </div>
        </div>
        <div class="v85_94"></div>
        <div class="v85_99"></div><span class="v90_73">x</span> -->
    </div>
    <!-- Add this script block at the end of the body tag -->
    <script>
        // Function to show the login pop-up
        function showLoginPopup() {
          var modal = document.getElementById("signin-modal");
          modal.style.display = "block";
        }
      
        // Function to close the login pop-up
        function closeLoginPopup() {
          var modal = document.getElementById("signin-modal");
          modal.style.display = "none";
        }
      
        // Attach a click event listener to the sign-in button
        var signinButton = document.getElementById("signin-button");
        signinButton.addEventListener("click", showLoginPopup);
      
        // Attach a click event listener to the close button of the login pop-up
        var closeButton = document.getElementById("close");
        closeButton.addEventListener("click", closeLoginPopup);
    </script>
    
</body>

</html>