<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    
    <div class="v12_62">
            <div class="v9_570"></div>
            <div class="v14_147">
                <div class="v9_571"></div>
                <div class="v9_617">
                    <div class="v9_618"></div>
                    <div class="v9_619"></div><span class="v9_620">or</span>
                </div>
                <div class="v9_621">
                    <div class="v9_622"></div><span class="v9_623">Sign in with Google</span>
                    <div class="v90_80">
                        <div class="v9_624">
                            <div class="v9_625"></div>
                            <div class="v9_626"></div>
                            <div class="v9_627"></div>
                            <div class="v9_628"></div>
                        </div>
                    </div>
                </div>
                <div class="v9_629">
                    <div class="v9_630"></div><span class="v9_631">Sign in with Facebook</span>
                    <div class="v90_81">
                        <div class="v9_632">
                            <div class="v9_633"></div>
                        </div>
                    </div>
                </div><span class="v9_572">Welcome back!</span>
                <div class="v9_613">
                    <div class="v9_614"></div><span class="v9_615">Login</span>
                </div><span class="v9_616">Forget password?</span><span class="v9_634">New to E - learnify? Sign
                    up</span><span class="v85_97">Email</span><span class="v85_98">Password</span>
            </div>
        </div>
        <div class="v85_94"></div>
        <div class="v85_99"></div><span class="v90_73">x</span>
    </div>
</body>
</html>